@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
    font-family: 'Poiret One', sans-serif;
    text-align: center;
}

#starFox:hover {
    transform: rotate(360deg);
    transition: transform 1s linear;
}

#imageGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#imageGrid img {
    max-width: 300px;
    box-sizing: content-box;
    margin: 2px 2px 2px 2px;
}

p {
    font-size: xx-small;
}

@media only screen and (max-width: 768px){
   #imageGrid img {
        width: 90%;
        display: inline;
    }

    #imageGrid img:hover {
        margin: 0px;
        width: 95%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    #imageGrid img {
        width: 40%;
     }
 
     #imageGrid img:hover {
         margin: 0px;
         width: 42%;
     }
 }

 @media only screen and (min-width: 1025px){
    #imageGrid img {
        width: 20%;
     }
 
     #imageGrid img:hover {
         margin: 0px;
         width: 25%;
         max-width: 350px;
     }
 }

@media (prefers-color-scheme: light) {
    #imageGrid img {
        border: 2px solid black;
    }
    #imageGrid img:hover {
        border: 4px solid gainsboro;
    }
    body {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgba(0, 0, 0, 0.88);
        color: gainsboro;
    }
    #imageGrid img {
        border: 2px solid gainsboro;
    }
    #imageGrid img:hover {
        border: 4px solid grey;
    }
}
